body{
    background-image: url("./fundo.png");
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;  
    background-attachment: fixed; 
}

.ima{
    height: 400px;
    width: 400px;
}

.nome{
    color: antiquewhite;
    font-style: italic;
    display: flex;
    justify-content: flex-start;
}

.esc{
    color: antiquewhite;
    font-size: 50px;
}

